<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Финансы{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'finance_list' %}">Главная</a>
            <a href="{% url 'profile' %}">Профиль</a>
            <a href="{% url 'financial_goals' %}">Цели</a>
            <a href="{% url 'create_goal' %}">Создать цель</a>
            <a href="{% url 'analytics' %}">Аналитика</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
