@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container{
    background-image: url("https://i.pinimg.com/originals/3d/47/3d/3d473d62a4ae61373ed56067f00dba03.gif");
    background-repeat:initial;
    background-size: 100vw 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.form{
    background-color: white;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    gap:30px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.443);
}

.btn{
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(152, 197, 228);
    border-style: none;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.443);
}

.btn:hover{
    background-color: rgb(68, 143, 209);
    transition: 550ms ease;
}

a{
    text-decoration: none;
    color:black;
}

ul{
    list-style: none;
}

.go{
    padding-bottom: 10px;
}

.goals input{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.reg{
    text-decoration: underline 1px rgba(0, 0, 0, 0.438);
    font-size: 16px;
}

.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}